<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="content" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/static" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-secondary">Главная страница</a></li>
        <li><a href="/about" class="nav-link px-2 text-black">О нас</a></li>
        <li><a href="/cours" class="nav-link px-2 text-black">Курсы</a></li>
        <li><a href="/cn" class="nav-link px-2 text-black">Контакты</a></li>
    </ul>

    <div class="text-end">
        <!--        <button type="button" class="btn btn-outline-light me-2">Войти</button>-->
        <button type="button" onClick='location.href="/login"' class="btn btn-warning">Войти</button>
        <button type="button" onClick='location.href="/registr"' class="btn btn-warning">Зарегистрироваться</button>

    </div>
</div>
</body>
</html>